.card-vacanc {
    width: 70%;
    box-shadow: 0 0 6px #cbcbcb7a;
    border-radius: 10px;
    color: #555555;
    margin: 35px auto;

    .blc-title {
        width: 95%;
        margin: 10px auto;
        color: #555555;
        font-size: 24px;
        padding: 15px;
        font-size: 28px;

        .link-title {
            text-decoration: none;
            font-weight: bold;
            color: #3c9df2;

            &:hover {
                color: rgb(253, 63, 63);
            }
        }

        .blc-logo {
            float: right;
            border: none;

            .logo {
                width: 150px;
                height: 100px;
                border: none;
            }
        }

    }

    .blc-salary,
    .blc-employment,
    .blc-city,
    .blc-otlick,
    .blc-description {
        width: 95%;
        margin: 10px auto;
        font-size: 22px;
        margin-bottom: 15px;
    }

    .btn-otclick {
        font-size: 22px;
        padding: 8px 20px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        border: 2px solid #4bb24e;
        color: #4bb24e;
        background-color: white;
        font-weight: 400;
        transition: all 0.1s ease-in;
        margin-bottom: 20px;

        &:hover {
            background-color: #4bb24e;
            color: white;

            .link-btn {
                color: white;
            }
        }

        .link-btn {
            color: #4bb24e;
            text-decoration: none;
        }
    }

}