.popup-employer {
    width: 100%;
    height: 100%;
    background-color: rgba(198, 198, 198, 0.693);
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

    .close {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 10px;
        right: 10px;

        .btn-close {
            width: 100px;
            height: 100%;
            background: url('./icon/close.png') no-repeat;
            cursor: pointer;

            &:hover {
                background: url('./icon/redClose.png') no-repeat;
            }
        }
    }

    .window-popup {
        width: 60%;
        max-height: 800px;
        background-color: white;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.555);
        border-radius: 10px;
        overflow-y: scroll;
        font-size: 18px;

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            background-color: #cdcdcd;
        }

        &::-webkit-scrollbar-thumb {
            background: rgb(49, 49, 255);
            border-radius: 5px;
            border: 2px solid #cdcdcd;
        }

        .container {
            width: 85%;
            margin: 20px auto;
            margin-bottom: 30px;

            .title {
                text-align: center;
                margin: 10px 0;
            }

            .description {

                p,
                li,
                #text,
                div {
                    margin: 8px;
                    line-height: 1.7;
                }

                strong {
                    line-height: 1.7;
                }
            }
        }
    }
}