.blc-search {

    .title {
        color: white;
        text-shadow: 8px 0 8px #0a0a0a;
        margin-bottom: 20px;
        font-size: 32px;
    }

    section {
        display: flex;
        justify-content: center;

        .text-search {
            width: 500px;
            font-size: 32px;
            border: none;
            padding: 5px 15px;
            box-shadow: 0 0 5px #272727;
            border-radius: 5px 0 0 5px;
        }

        .btn-search {
            font-size: 32px;
            border: none;
            padding: 5px 15px;
            cursor: pointer;
            background-color: #1785F5;
            border: 1px solid #0061c2;
            color: white;
            text-decoration: none;
            box-shadow: 0 0 5px #272727;
            border-radius: 0 5px 5px 0;
        }
    }
}