.blc-banner {
    width: 100%;

    .blc-img-banner {
        width: 100%;
        height: 700px;
        background-image: url('./img-banner/main.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}