.vacans {
    width: 100%;
}

.blc-poisk {
    width: 100%;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;

    .poisk {
        margin: 20px auto;
        display: flex;

        input {
            width: 300px;
            font-size: 18px;
            padding: 5px 15px;
            margin: 0 5px;
            border-radius: 3px;
            border: 1px solid #666;
        }

        .btn-poisk {
            font-size: 18px;
            padding: 5px 15px;
            margin: 0 5px;
            background-color: #1785F5;
            border: 1px solid #0061c2;
            color: white;
            cursor: pointer;
            border-radius: 3px;
        }

        .blc-param-poisk {
            width: 40px;
            height: 40px;
            background: url('./imgParamPoisk/param-poisk.png') no-repeat;
            background-size: cover;
            cursor: pointer;
            margin: 0 5px;
        }
    }
}