.container {
    width: 100%;

    .blc-info {
        width: 60%;
        min-height: 300px;
        margin: 50px auto;
        // display: grid;
        // grid-template-columns: 70% 30%;

        .card-vacanc {
            width: 90%;
        }
    }
}