.container {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;

    .blc-info {
        width: 60%;
        min-height: 800px;
        margin: 50px auto;

        .card-vacanc {
            width: 90%;

            .text-info {
                margin: 5px 0;
            }

            .employer b {
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .blc-description {
            width: 90%;
            margin: auto;
            min-height: 300px;
            font-size: 20px;

            .description,
            .key-skills {
                width: 95%;
                margin: 15px auto;

                h3,
                p,
                ul,
                li {
                    margin: 15px;
                }

                p {
                    line-height: 1.7;
                }
            }
        }
    }
}