.blc-vacansies {
    width: 100%;

    .list-vacancies {
        width: 90%;
        background-color: brown;
        min-height: 500px;
        margin: auto;

        .card-vacanc {
            width: 70%;
            min-height: 300px;
            background-color: aqua;
            margin: 20px auto;
        }
    }
}