$widthAll: 100%;
$center: center;
$mAuto: 30px auto;
$background: rgba(0, 0, 255, 0.855);
$transition: all 0.3s ease-in;

.dev {
    background: url('./images/developer.png') no-repeat center;
}

.data {
    background: url('./images/data_science.png') no-repeat center;
}

.tester {
    background: url('./images/tester.png') no-repeat center;
}

.dev-game {
    background: url('./images/game_developer.png') no-repeat center;
}

.sisadmin {
    background: url('./images/sisadmin.png');
}

.security {
    background: url('./images/security.png');
}

.marketer {
    background: url('./images/marketer.png');
}

.analyst {
    background: url('./images/system_analyst.png');
}

.blc-way-work {
    width: $widthAll;

    .blc-list-wors {
        width: 90%;
        margin: $mAuto;

        .blc-title {
            width: $widthAll;
            text-align: $center;
            margin: $mAuto;
            color: #555555;
            font-size: 24px;
        }

        .blc-cards-work {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            cursor: pointer;
            margin: auto;

            .blc-card-work {
                width: 90%;
                border: 1px solid blue;
                margin: 20px auto;
                transition: $transition;

                &:hover {
                    transform: scale(1.05);
                    border: 1px solid #d600da;

                    .blc-link-way {
                        background: linear-gradient(90deg, #c61bff, #c308ed, #d600da);
                    }
                }

                .container {
                    width: 95%;
                    margin: auto;

                    .blc-img-work {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        background-size: cover;
                        height: 300px;
                    }

                    .blc-link-way {
                        width: 90%;
                        text-align: center;
                        margin: 20px auto;
                        background-color: $background;
                        padding: 8px;
                        font-size: 24px;

                        .link-way {
                            color: white;
                            text-decoration: none;
                        }
                    }
                }

            }
        }
    }
}

@media screen and (max-width: 1350px) {
    .blc-cards-work {
        grid-template-columns: repeat(2, 1fr);

        .blc-card-work {
            width: 80%;
        }
    }
}